@using Kutuphane.WebUI.Models.Entity;
@model TblHareket

@{
    ViewBag.Title = "Iade Al";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (Model != null)
{
    <div class="row">

        <div class="col-lg-12">

            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">Güncelleme Sayfası</h5>
                </div>

                <div class="card-body">
                    <form class="row g-3" method="post">

                        <div class="col-md-2">
                            <label class="form-label">Üye Adı Soyadı</label>
                            @*@Html.DropDownListFor(x => x.UyeId, (List<SelectListItem>)ViewBag.uyeler, new { @class = "form-control form-select" })*@
                            @Html.TextBoxFor(x => x.TblUye.Ad, new { @class = "form-control" })
                        </div>

                        <div class="col-md-2">
                            <label class="form-label">Kitap</label>
                            @*@Html.DropDownListFor(x => x.KitapId, (List<SelectListItem>)ViewBag.kitaplar, new { @class = "form-control form-select" })*@
                            @Html.TextBoxFor(x => x.TblKitap.Ad, new { @class = "form-control" })
                        </div>

                        <div class="col-md-2">
                            <label class="form-label">Personel</label>
                          @*  @Html.DropDownListFor(x => x.PersonelId, (List<SelectListItem>)ViewBag.personeller, new { @class = "form-control form-select" })*@
                            @Html.TextBoxFor(x => x.TblPersonel.AdSoyad, new { @class = "form-control" })
                        </div>

                        <div class="col-md-2">
                            <label for="exampleInputdate" class="form-label">Alış Tarihi</label>
                            @Html.TextBoxFor(x => x.AlisTarihi,"{0:dd.MM.yyyy}", new { @class = "form-control" })
                        </div>

                        <div class="col-md-2">
                            <label for="exampleInputdate2" class="form-label">İade Tarihi</label>
                            @Html.TextBoxFor(x => x.IadeTarihi, "{0:dd.MM.yyyy}", new { @class = "form-control" })
                        </div>

                        <div class="col-md-2">
                            <label for="exampleInputdate" class="form-label">Teslimat Tarihi</label>
                            <input name="TeslimTarihi" value="@DateTime.Now.ToShortDateString()" class="form-control" id="exampleInputdate">
                        </div>


                        <div class="col-12">
                            <button class="btn btn-primary" type="submit">Iade/Teslim Al</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}


